.inner-text{
    color: #D71921; 
  }
  .title{
    text-transform: uppercase; 
    color: #D71921; 
  }
  .card{
    border: none !important;
  }
  a{
    font-weight: bold;
    color: #161A1D;
font-size: 16px;
font-style: normal;
text-decoration: none;
  }
  h4{
    color: #262626;
font-size: 24px;
font-weight: 600;
  }
  .custom_color{
    color: #D42027;
  }
  .custom-padding{
    padding-top: 10px;
    padding-left: 15px;
  }
  .custom-bg-color{
    background-color: #F5F5F5;
  }
  .custom_border{
    border-radius: 20px;
border: 2px solid #D32027; 
  }
  .custom_padding{
    padding: 10px;
  }
  .custom_style{
    font-size: 55.714px;
font-style: normal;
font-weight: 300; 
  }
  .custom_font_p{
    font-size: 1rem;
  }
  .custom_color_card{
    background-color: #FFF;
    border-radius: 0 0 20px 20px;
  }
.half_card{
  background-color: #F5F5F5;
  height: 105px;
  border-radius: 20px 20px 0px 0px;
  padding-top: 10px;
}
@media (max-width:1200px) {
  .half_card{
    height: 140px;
  }
}
.cards_custom_design{
  border-radius: 24px;
background: #FFF;
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05); 
padding: 7px;
height: 220px;
}
.cards_custom_design img{
  width: 64px;
height: 64px;
flex-shrink: 0; 
}
.card_heading{
  font-size: 15px;
  color: #D71921; 
  font-weight: bold;
}
.card_text{
  font-size: 13px;
  color: #D71921;
}
.owl-nav.disabled {
  display: block !important;
}
.owl-prev,
.owl-next {
top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50% !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.owl-prev {
    left: -40px;
}
.owl-prev span{
  font-weight: bold;
}
.owl-next {
    right: -40px;
}
@media (max-width:900px) {
  .owl-prev{
    left: -60px;
  }
  .owl-next {
    right: -60px;
}
}
@media (max-width:600px) {
  .owl-prev{
    left: -20px !important;
  }
  .owl-next {
    right: -20px !important;
}
}
.owl-prev:hover,.owl-next:hover{
  background-color: #D9DADB !important;
  color: black !important;
}
.swiper-button-prev,
.swiper-button-next{
  height: 50px !important;
  width: 50px !important;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50% !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.swiper-button-prev::after{
  color: black !important;
  font-size: 12px !important;
}
.swiper-button-next::after{
  color: black !important;
  font-size: 12px !important;
}
.swiper-button-prev:hover,.swiper-button-next:hover{
  background-color: #D9DADB !important;
  color: white !important;
}
.custom-color-body{
  background-color: #F8F8F8;
  border-radius: 0 0 24px 24px;
}
.card_custom_font_size{
  font-size: 2.90rem !important;
}
@media (max-width:992px) {
  .card_custom_font_size{
    font-size: 2rem !important;
  }  
}
@media (max-width:768px) {
  .card_custom_font_size{
    font-size: 1.5rem !important;
  }  
}
.swiper-wrapper {
  align-items: center !important;
}
.custom_slide_design .swiper-slide-next{
  filter: blur(5px) !important;
  width: 400px !important;
  height: auto !important;
  left: -127px !important;
  z-index: 0 !important;
}
.custom_slide_design .swiper-slide-next .card_custom_font_size{
    font-size: 1.15rem !important;
}
.custom_slide_design .swiper-slide-next .card-text{
  font-size: 0.7rem !important;
  padding-right: 30px !important;
}
.custom_slide_design .swiper-slide-next .card-img-top{
  height: 300px !important;
}
/* .swiper-slide-prev{
  display: none !important;
} */
.custom_slide_design .swiper-slide-prev{
  visibility: hidden !important;
}
.custom_slide_design .swiper-slide-active{
  z-index: 11 !important;
}
.custom_slide_design .swiper-pagination-bullet-active{
  border-radius: 50px !important;
background: #DA291C !important;
width: 60px !important;
height: 12px !important;  
}
.swiper-pagination{
  bottom: -2px !important;
}