.inner-text{
    color: #D71921; 
  }
  .product_title{
    text-transform: uppercase !important; 
    color: #D71921 !important; 
font-size: 16px !important;
font-style: normal !important;
font-weight: 300 !important;
line-height: 120% !important;
letter-spacing: 1.01px !important; 
  }
  .product_heading{
    color: #161A1D !important;
font-size: 36px !important;
font-style: normal !important;
font-weight: 600 !important;
line-height: 120% !important;
  }
  .product_paragraph{
    color: rgba(0, 0, 0, 0.80) !important;
font-size: 16px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: 150% !important; /* 24px */
letter-spacing: -0.176px !important; 
  }
  .product_sub_heading{
    color: #161A1D !important;
font-size: 24px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: 120% !important;
  }
  @media (max-width:768px) {
    .product_title{
      font-size: 12px !important; 
    }
    .product_heading{
      font-size: 18px !important;
    }
    .product_paragraph{
      font-size: 14px !important;  
    }
    .product_sub_heading{
      font-size: 14px !important; 
    }
  }
  .card_heading{
    color: #262626 !important;
font-size: 24px !important;
font-style: normal !important;
font-weight: 600 !important;
line-height: 120% !important; 
  }
  .italic_text{
    font-style: italic !important;
  }
  .card_paragraph{
    color: #262626 !important;
font-size: 16px !important;
font-style: Normal;
font-weight: 400 !important;
line-height: 120% !important;
  }
  .card_link{
    color: #161A1D !important;
font-size: 16px !important;
font-style: normal !important;
font-weight: 600 !important;
line-height: 120% !important;
  }
  .card_2_text{
    color: #262626 !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 120% !important;
    padding-right: 10px !important;
  }
  @media (max-width:768px) {
    .card_2_text{
      padding-right: 0px !important;
    }
  }
  @media (max-width:768px) {
    .card_heading{
      font-size: 18px !important; 
    }
    .card_paragraph{
      font-size: 14px !important;
    }
    .card_2 .card_link{
      font-size: 14px !important;  
    }
    .card_2_text{
      font-size: 14px !important; 
    }
  }
  .card{
    border: none !important;
    /* box-shadow: 0px 0px 0px 0px !important */
  }
  a{
    font-weight: bold;
    color: #161A1D;
font-size: 16px;
font-style: normal;
text-decoration: none;
  }
  h4{
    color: #262626;
font-size: 24px;
font-weight: 600;
  }
  .custom_color{
    color: #D42027 !important;
font-size: 32px;
font-style: normal !important;
font-weight: 600 !important;
line-height: 120% !important; 
  }
  @media (max-width:768px) {
    .custom-color{
      font-size: 18px !important;
    }
  }
  .custom-padding{
    padding-top: 10px;
    padding-left: 15px;
    color: #000 !important;
font-size: 16px !important;
font-style: normal !important;
font-weight: 600 !important;
line-height: 120% !important; 
  }
  @media (max-width:768px) {
    .custom-padding{
      font-size: 14px !important;
    }
  }
  .custom-bg-color{
    background-color: #F5F5F5;
  }
  .custom_border{
    border-radius: 20px;
border: 2px solid #D32027; 
  }
  .custom_color_3{
    color: #D71921 !important; 
  }
  .custom_padding{
    padding: 10px;
  }
  .custom_style{
    font-size: 55.714px !important;
font-style: normal !important;
font-weight: 300 !important; 
line-height: 120% !important;
  }
  .custom_style_2{
font-size: 18px !important;
font-style: normal !important;
font-weight: 600 !important;
line-height: 120% !important;
padding-top: 10px;
  }
  @media (max-width:1024px) {
    .custom_style_2{
      margin-top: 7px !important;
        }
  }
  @media (max-width:768px) {
    .custom_style_2{
      font-size: 16px !important;
        }
  }
  .custom_font_p{
    color: #000;
font-size: 16px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: 120% !important;
  }
  @media (max-width:768px) {
    .custom_font_p{
      font-size: 14px !important;
    }
  }
  .custom_color_card{
    background-color: #FFF;
    border-radius: 0 0 20px 20px;
  }
.half_card{
  background-color: #F5F5F5 !important;
  height: 105px !important;
  border-radius: 20px 20px 0px 0px !important;
  padding-top: 10px;
}
@media (max-width:2000px) {
  .half_card{
    height: 140px;
  }
}
.cards_custom_design{
  border-radius: 24px !important;
background: #FFF !important;
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05) !important; 
padding: 7px !important;
height: 80% !important;

}
.cards_custom_design img{
  width: 64px;
height: 64px;
flex-shrink: 0; 
}
.card_heading{
  font-size: 15px;
  color: #D71921; 
  font-weight: bold;
}
.card_text{
  font-size: 13px;
  color: #D71921;
}
.card-text_3{
  color: #262626 !important;
font-size: 18px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: 120% !important;
}
.owl-nav.disabled {
  display: block !important;
}
.owl-prev,
.owl-next {
top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50% !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.owl-prev {
    left: -40px;
}
.owl-prev span{
  font-weight: bold;
}
.owl-next {
    right: -40px;
}
@media (max-width:900px) {
  .owl-prev{
    left: -60px;
  }
  .owl-next {
    right: -60px;
}
}
@media (max-width:600px) {
  .owl-prev{
    left: -20px !important;
  }
  .owl-next {
    right: -20px !important;
}
}
.owl-prev:hover,.owl-next:hover{
  background-color: #D9DADB !important;
  color: black !important;
}
.swiper-button-prev,
.swiper-button-next{
  height: 50px !important;
  width: 50px !important;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50% !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.swiper-button-prev::after{
  color: black !important;
  font-size: 12px !important;
}
.swiper-button-next::after{
  color: black !important;
  font-size: 12px !important;
}
.swiper-button-prev:hover,.swiper-button-next:hover{
  background-color: #D9DADB !important;
  color: white !important;
}
.custom-color-body{
  background-color: #F8F8F8;
  border-radius: 0 0 24px 24px;
}
.card_custom_font_size{
  color: #000 !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 120% !important;
}
@media (max-width:992px) {
  .card_custom_font_size{
    font-size: 20px !important;
  }  
}
.swiper-wrapper {
  align-items: center !important;
}
.custom_slide_design .swiper-slide-next{
  filter: blur(5px) !important;
  width: 400px;
  height: auto !important;
  z-index: 0 !important;
}
.custom_slide_design .swiper-slide-next .card_custom_font_size{
    font-size: 18px !important;
}
.custom_slide_design .swiper-slide-next .card-text{
  font-size: 15px;
}

.custom_slide_design .swiper-slide-next .card-img-top{
  height: 250px !important;
}
.custom_slide_design .swiper-slide-prev{
  filter: blur(5px) !important;
  width: 400px;
  height: auto !important;
  z-index: 0 !important;
}
@media (max-width:769px) {
  .custom_slide_design .swiper-slide-prev{
    filter: blur(5px) !important;
    width: 300px;
    height: auto !important;
    z-index: 0 !important;
  }
  .custom_slide_design .swiper-slide-next{
    filter: blur(5px) !important;
    width: 300px ;
    height: auto !important;
    z-index: 0 !important;
  }
}
.custom_slide_design .swiper-slide-prev .card_custom_font_size{
    font-size: 1.15rem !important;
}
.custom_slide_design .swiper-slide-prev .card-text{
  font-size: 0.7rem !important;
  padding-right: 30px !important;
}
.custom_slide_design .swiper-slide-prev .card-img-top{
  height: 250px !important;
}

.custom_slide_design .swiper-slide-prev .ne_card .img img{
  height: 260px !important;
}
.custom_slide_design .swiper-slide-next .ne_card .img img{
  height: 260px !important;
}
.custom_slide_design .swiper-slide-prev .ne_card .card_heading{
  font-size: 20px !important;
}
.custom_slide_design .swiper-slide-prev .ne_card .card_2_text{
  font-size: 12px !important;
}
.custom_slide_design .swiper-slide-next .ne_card .card_heading{
  font-size: 20px !important;
}
.custom_slide_design .swiper-slide-next .ne_card .card_2_text{
  font-size: 12px !important;
}
.custom_box_shadow{
  margin-bottom: 10% !important;
}
/* .custom_slide_design .swiper-slide-prev{
  visibility: hidden !important;
} */
.custom_slide_design .swiper-slide-active{
  z-index: 11 !important;
}
.custom_slide_design .swiper-pagination-bullet-active{
  border-radius: 50px !important;
background: #DA291C !important;
width: 60px !important;
height: 12px !important;  
}
.swiper-pagination{
  bottom: -2px !important;
}
.card-img-top{
  height: 340px !important; 
}
.custom_color_1{
  color: #D71921 !important; 
}
.card_heading_3{
  color: #D71921 !important;
text-align: center !important;
font-size: 18px !important;
font-style: normal !important;
font-weight: 600 !important;
line-height: 120% !important; 
}
.card_text_3{
  color: #D71921 !important;
text-align: center !important;
font-size: 16px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: 120% !important; 
}
.card_outer_text{
  color: #D71921 !important;
font-size: 16px !important;
font-style: normal !important;
font-weight: 300 !important;
line-height: 120% !important;
}
@media (max-width:768px) {
  .card_heading_3{
    font-size: 16px !important;
  }
  .card_text_3{
    font-size: 14px !important;
  }
  .card_outer_text{
    font-size: 16px !important;
  }
  .cards_custom_design{
    height: 210px !important;
  }
}
@media (max-width:1025px) {
  .cards_custom_design{
    /* height: 270px !important; */
    width: 152px !important;
  }
}
@media (max-width:992px) {
  .cards_custom_design{
    /* height: 205px !important; */
    width: auto !important;
  }
}
@media (max-width:767px) {
  .cards_custom_design{
    /* height: 165px !important; */
    width: auto !important;
  }
}
@media (max-width:380px) {
  .cards_custom_design{
    /* height: 195px !important; */
    width: auto !important;
  }
}
.last_images img{
  width: 407.206px !important;
height: 49.808px !important;
flex-shrink: 0 !important; 
}
@media (max-width:768px) {
  .card_custom_font_size{
    font-size: 18px !important; 
  }  
  .card-text_3{
    font-size: 14px !important;
  }
  .last_images img{
    width: 130.48px !important;
    height: 15.96px !important;
  }
}
@media (max-width:768px) {
  .custom_img_width img{
    width: 32px !important;
    height: 33px !important;
  }
}
.custom-color_3{
  color: #D32027 !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 120% !important;
}
@media (max-width:768px) {
  .custom-color_3{
    font-size: 16px !important;
  }
}
@media (max-width:768px) {
  .custom_hide_display .image_1{
display: none;
  }
}
@media (min-width:768px) {
  .custom_hide_display .image_2{
    display: none;
      }
}
.custom-nav-tabs {
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch !important;
  scrollbar-width: none !important; /* Hides the scrollbar for Firefox */
  -ms-overflow-style: none !important; /* Hides the scrollbar for IE and Edge */
}

.custom-nav-tabs::-webkit-scrollbar {
  display: none !important; /* Hides the scrollbar for Webkit (Chrome, Safari, etc.) */
}

@media (max-width:500px) {
  .custom-nav-item {
  flex: 0 0 auto !important;
}
}
@media (max-width:768px) {
  .card_customm_padding{
padding-left: 35px !important;
padding-right: 35px !important;
  } 
}
.new_slider .swiper-button-prev{
  visibility: hidden;
}
.new_slider .swiper-button-next{
  visibility: hidden;
}
@media (max-width:768px) {
  .new_slider .swiper-button-prev{
    visibility: visible;
  }
  .new_slider .swiper-button-next{
    visibility: visible;
  }
}
.owl-carousel .owl-item img {
  width: auto !important;
}
.circle-tabs .class_1{
  background-color: white !important;
  color: #D32027!important;
  border: 2px solid #D32027 !important;
}
.circle-tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  display: flex !important;
  justify-content: space-around;
}
.circle-tabs .class_1::before {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='232' height='4' viewBox='0 0 852 4'><path d='M0 2H852' stroke-width='3'/></svg>");
  position: absolute;
  top: 54%;
  left: -232px;
  transform: translateY(-50%);
  background-color: #D32027;
  height: 2px;
}
.remove-svg > div:first-child .class_1::before {
  display: none; /* Hide SVG for the first child anchor tag within each .remove-svg container */
}
@media (min-width: 1400px) {
  .circle-tabs .class_1::before {
    left: -278px; /* Adjust as needed for smaller screens */
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='278' height='4' viewBox='0 0 852 4'><path d='M0 2H852' stroke-width='3'/></svg>");
  }
}
@media (max-width: 1199px) {
  .circle-tabs .class_1::before {
    left: -188px; /* Adjust as needed for smaller screens */
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='186' height='4' viewBox='0 0 852 4'><path d='M0 2H852'  stroke-width='3'/></svg>");
  }
}
@media (max-width: 991px) {
  .circle-tabs .class_1::before {
    left: -127px; /* Adjust as needed for smaller screens */
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='125' height='4' viewBox='0 0 852 4'><path d='M0 2H852' stroke-width='3'/></svg>");
  }
}
@media (max-width: 768px) {
    .circle-tabs .class_1::before {
      top: 143% !important;
    left: 21px; /* Adjust as needed for smaller screens */
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='2' height='35' viewBox='0 0 2 208'><path d='M1 0L1.00001 208' stroke='%23D32027' stroke-width='2'/></svg>");
  background-color: #D32027;
  height: 35px;
  }
  .circle-tabs {
    flex-direction: column;
  }
  .remove-svg > div:first-child .class_1::before {
    display: block;
  }
  .remove-svg-2 > div:first-child .class_1::before {
    display: none;
  }
}

.circle-tabs p{
  color: #262626;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 120%;
padding: 15px;
}

.circle-Tabs-heading{
  color: #161A1D;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 120%;
}
@media (max-width:767px) {
  .circle-tabs p{
    padding: 0px;
    font-size: 14px; 
    padding-left: 15px;
    margin-top: 12px;
  }
  .circle-Tabs-heading{
  font-size: 14px;
  }
}
/* .card_customm_padding a:hover{
color: #D32027;
} */
.card_link{
  cursor: pointer;
}
.card_link:hover {
  color: #D32027 !important; /* Change to your desired color */
}
.skaj img{
  width: 216.206px !important;
  height: 65.808px !important;
}
@media (max-width:768px) {
  .skaj img {
    height: 36.808px !important;
  
}
}

.custom_border_23 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.notePad_text{
  color: #161A1D;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 16.8px */
}
/* .swiperslide_custom_width{
  width: 392px !important;
} */
@media (max-width:767px) {
  .cards_custom_design img{
    width: 48px !important;
    height: 48px !important;
  } 
}
.Keunggulan_p{
  color: #000;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 120%;
}
@media (max-width:768px) {
  .Keunggulan_p{
  font-size: 14px;
  }
}
.card_background_image_1{
  background-image: url(/public/assets/Air_Filter-removebg-preview.png);
  height: 86px;
  background-repeat: no-repeat;
  background-size: contain;
}
.img-notepad_1{
  margin-left: 2rem !important;
}
@media (min-width:1400px) {
  .card_background_image_1{
    height: 99px;
  }
  .img-notepad_1{
    margin-left: 1.7rem !important;
  }
}
@media (max-width:1200px) {
  .card_background_image_1{
    height: 72px;
  }
  .img-notepad_1{
    margin-left: 1.7rem !important;
  }
}
@media (max-width:991px) {
  .card_background_image_1{
    height: 80px;
  }
  .img-notepad_1{
    margin-left: 1.9rem !important;
  }
}
@media (max-width:767px) {
  .card_background_image_1{
    height: 60px;
  }
  .img-notepad_1{
    margin-left: 1.9rem !important;
    margin-top: 11px;
  }
  .notePad_text{
    margin-top: 1.8rem !important
  }
}
@media (max-width:399px) {
  .card_background_image_1{
    height: 60px;
  }
  .img-notepad_1{
    margin-left: 1.3rem !important;
    margin-top: 8px;
  }
  .notePad_text{
    margin-top: 1.5rem !important
  }
}
@media (max-width:380px) {
  .img-notepad_1{
    margin-top: 1px;
  }
  .notePad_text{
    margin-top: 0.8rem !important
  }
}
@media (max-width:768px) {
  .notePad_text{
    font-size: 12px !important;
  }
  .img-notepad_1{
    width: 27px;
    height: 27px;
  }
}
.card_background_image_2{
  background-image: url(/public/assets/Air_Filter-removebg-preview.png);
  height: 86px;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width:1199px) {
  .card_background_image_2{
    height: 72px;
  }
}
@media (max-width:991px) {
  .card_background_image_2{
    height: 80px;
  }
  .margin_of_2{
    margin-left: 2rem;
  }
}
@media (max-width:768px) {
  .margin_of_2{
    margin-top: 13px;
  }
}
@media (max-width:474px) {
  .card_background_image_2{
    height: 68px;
  }
  .margin_of_2{
    margin-top: 13px;
  }
}
@media (max-width:430px) {
  .card_background_image_2{
    height: 66px;
  }
  .margin_of_2{
    margin-top: 3px;
    margin-left: 23px !important;
  }
}
@media (max-width:375px) {
  .margin_of_2{
    margin-top: -1px;
  }
}
@media (min-width:1400px) {
  .card_background_image_2{
    height: 99px;
  }
}
@media (max-width:1199px) {
  .card_background_image_2{
    height: 72px;
  }
}
.card_background_image_3{
  background-image: url(/public/assets/BrakePad&BrakeShoe.png);
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}
.third_double_image{
margin-top: 13px;
}
 .text_334{
  margin-top: 1.8rem !important;
}
.double_color_image{
  margin-top: -8px;
  background-color: rgb(182, 180, 180);
}
@media (max-width:1200px) {
  .third_double_image{
    margin-top: 2px;
    }
     .text_334{
      margin-top: 1.3rem !important;
    }
    .double_color_image{
      margin-top: -14px;
    }
}
@media (max-width:768px) {
    .double_color_image{
      margin-top: -15px;
    }
    .card_background_image_3{
      height: 127px;
    }
}
@media (max-width:768px) {
  .double_color_image{
    margin-top: 0px;
  }
  .text_334{
    margin-top: 1.9rem !important;
  }
  .third_double_image{
    margin-top: 19px;
    }
    .card_background_image_3{
      height: 135px;
    }
    .image_334{
      margin-top: 2px;
    }
    .text_336{
      margin-top: 1.2rem !important;
    }
}
@media (max-width:515px) {
  .card_background_image_3{
    height: 143px;
  }
}
@media (max-width:428px) {
  .double_color_image{
    margin-top: -12px;
  }
  .text_334{
    margin-top: 1.8rem !important;
  }
  .third_double_image{
    margin-top: 7px;
    }
}
@media (max-width:413px) {
  .text_334{
    margin-top: 1.2rem !important;
  }
}
@media (max-width:373px) {
  .text_334{
    margin-top: 0.8rem !important;
  }
  /* .double_color_image{
    margin-top: -9px;
  } */
  .image_334 {
    margin-top: -11px;
  }
  .text_336 {
    margin-top: 0.1rem !important;
  }
}
.image_338{
  margin-top: 10px !important;
}
.text_338{
  margin-top: 2rem !important;
}
@media (max-width:1200px) {
  .image_338{
    margin-top: 4px !important;
  }
  .text_338{
    margin-top: 1.9rem !important;
    margin-bottom: 1.7rem !important;
  }
}
.double_color_image_1{
  margin-top: -8px;
  background-color: rgb(182, 180, 180);
}
@media (max-width:1199px) {
  .double_color_image_1{
    margin-top: -19px;
  }
}
@media (max-width:768px) {
  .double_color_image_1{
    margin-top: -22px;
  }
}
@media (max-width:767px) {
  .double_color_image_1 {
    margin-top: 8px;
  }
  .image_338{
    margin-top: 32px !important;
  }
.text_338{
  margin-top: 2.5rem !important;
  margin-bottom: 0.5rem !important;
}
.text-339{
  margin-top: 1rem !important;
}
}

@media (max-width:443px) {
  /* .double_color_image_1 {
    margin-top: 8px;
  } */
  .image_338{
    margin-top: 20px !important;
  }
.text_338{
  margin-top: 1.5rem !important;
  margin-bottom: 0px !important;
}

}
@media (max-width:351px) {
   .double_color_image_1 {
    margin-top: 6px;
  }
}
@media (max-width:358px) {
  .image_340{
    margin-top: 16px !important;
  }
.text_340{
  margin-top: 0.8rem !important;
}
.image_341{
  margin-top: 0px !important;
}
.text_341{
margin-top: 0.8rem !important;
}
}
.double_color_image_2{
  margin-top: 0px !important;
}