.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar{
  background-color: black;
}
.navbar .nav-item .nav-link{
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.nav-1 .nav-item .nav-link{
  color: rgba(0, 0, 0, 1) !important;
}
.nav-1{
  background-color: #fff;
}
.navbar-brand{
  color: rgba(255, 255, 255, 1) !important;
}

@media screen and (max-width: 992px) {
  .search-img{
    display: none;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-bg-gray-dark{
  background-color: #ECEDED;
}
.custom-bg-gray{
  background-color: #F8F8F8;
}
.custom-list-style-number{
  list-style: linear-gradient;
}